<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/b702e607-10e6-41b8-a434-1a02f2631f70/resourceGroups/dotnet-web-application_group-84d7/providers/Microsoft.Web/sites/dotnet-web-application</ResourceId>
    <ResourceGroup>dotnet-web-application_group-84d7</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://dotnet-web-application.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>bee4f203-0a18-4b7f-983d-4ce5f04c8b86</ProjectGuid>
    <PublishUrl>https://dotnet-web-application.scm.azurewebsites.net/</PublishUrl>
    <UserName>$dotnet-web-application</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>